@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body{
  height: 100%;
  scrollbar-color: hsla(60,75%,50%,1) transparent !important;
}


::-webkit-scrollbar-thumb {
  background-color: hsl(60, 75%, 50%) transparent !important;
}